<div class="navbar-wrapper">
    <div class="container-fluid">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    </button>
                    <a class="navbar-brand" href="#">Photo State</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                    <ul class="nav navbar-nav">
                        <li ng-class="{'active' : appCtrl.pageSysName == 'home'}"><a ui-sref="home">Home</a></li>
                        <li ng-class="{'active': appCtrl.pageSysName == 'signin'}"><a
                                ui-sref="signin.enter-credentials">Sign In</a></li>
                        <li ng-class="{'active': appCtrl.pageSysName == 'signup'}"><a ui-sref="signup">Sign Up</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false" href="#" ng-click="$event.preventDefault()">Help <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ui-sref="signin.password-recovering">Forgot Password</a></li>
                                <li><a ui-sref="contact-us" ng-class="{'active': appCtrl.pageSysName == 'contact-us'}">Contact Us</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>